$color-primary: #e74c3c; //Alizarin red
$color-primary-gradient: linear-gradient(
  45deg,
  rgba(231, 131, 60, 1) 10%,
  rgba(231, 76, 60, 1) 80%
);
$color-background-dark: #313131; // dark grey
$color-background-middle: #686868; // middle grey
$color-text-bright: #fbfbfb; // bright white
